<header>
	<div class="head_in">
		<div class="title">
			<img src = "assets/logo.png" class="logo">
		</div>
		<nav>
			<ul class="list">
				<li class="li_item">Portfolio</li>
				<li class="li_item">Feature</li>
				<li class="li_item">Profile</li>
				<li class="li_item">Contact</li>
			</ul>
		</nav>
	</div>
</header>