<%= render 'header' %>
<div class="mv">
	<div class="mvc">
		<p class="mv_title">Lorem lpsum</p>
		<p class="mv_text">simply dummy text of the printing</p>
	</div>
</div>

<div class="portfolio">
	<div class="">
		<p class="p_tit">Portfolio</p>
		<div class="border"></div>
		<p class="p_text">It is a long established fact that a reader will be distracted by the readable<br>
		content of a page when looking at its layout.<br>
		The point of using Lorem lpsum is that it has a more-or-less normal distribution of letters
		</p>
	</div>
	<div class="p_imgs">
		<div class="p1"></div>
		<div class="p2"></div>
		<div class="p3"></div>
		<div class="p4"></div>
		<div class="p5"></div>
		<div class="p6"></div>
	</div>
</div>

<div class="feature">
	<div class="f_main">
		<p class="f_title">Feature</p>
		<div class="border"></div>
		<p class="f_text">It is a long established fact that a reader will be distracted by the readable<br>
		content of a page when looking at its layout.<br>
		The point of using Lorem lpsum is that it has a more-or-less normal distribution of letters</p>
		<div class="f_1">
			<i class="fab fa-amazon icsize"></i>
			<p class="str">Strength1</p>
			<p class="str_text">Contrary to popular belief, Lorem lpsum<br>
				is not simply random text. is has roots<br>
				in a piece of classical Latin literature<br>
				from 45 BC, making it over 2000 years<br>
				old. Richard McClintock,  a Latin<br>
				professor at Hampden-Sydney College<br>
				in Virginia, looked up one of the more<br>
			obscure Latin words, consectetur
			</p>
		</div>
		<div class="f_1">
			<i class="fab fa-apple icsize"></i>
			<p class="str">Strength2</p>
			<p class="str_text">Contrary to popular belief, Lorem lpsum<br>
				is not simply random text. is has roots<br>
				in a piece of classical Latin literature<br>
				from 45 BC, making it over 2000 years<br>
				old. Richard McClintock,  a Latin<br>
				professor at Hampden-Sydney College<br>
				in Virginia, looked up one of the more<br>
			obscure Latin words, consectetur
			</p>
		</div>
		<div class="f_2">
			<i class="fab fa-android icsize"></i>
			<p class="str">Strength3</p>
			<p class="str_text">Contrary to popular belief, Lorem lpsum<br>
				is not simply random text. is has roots<br>
				in a piece of classical Latin literature<br>
				from 45 BC, making it over 2000 years<br>
				old. Richard McClintock,  a Latin<br>
				professor at Hampden-Sydney College<br>
				in Virginia, looked up one of the more<br>
			obscure Latin words, consectetur
			</p>
		</div>

	</div>
</div>
<div class="profile">
	<div class="pr_box">
		<p class="pr_tit">Profile</p>
		<div class="border"></div>
		<p class="pr_text">It is long established fact that a reader will be distracted by the readable<br>
			content of a page when looking at its layout.<br>
		The point of using Lolem lpsum is that it has a more-or-less normal distribution of letters</p>
		<div class="siz512 imgc mgb90">
			<img src="/assets/my-icon.jpg" class="cir">
		</div><!--
		--><div class="pr_main siz512">
			<p class="fs20">MyName</p>
			<p class="fs16">Contrary to popular belief, Lorem lpsum is not simply random<br>
				text. It has roots in a piece of classical Latin literature from 45<br>
				BC, making it over 2000 years old. Richard McClintock, a Latin<br>
				professor at Hampden-Sydney College in Virginia, looked up<br>
			one of the more obscure Latin words, consectetur</p>
			<p class="fs20">MySkills</p>
			<p class="fs16">HTML/CSS/JavaScript/JQery/PhotoShop</p>
		</div>
	</div>
</div>
<div class="contact">
	<div class="cont_in">
		<p class="cont_ti">Contant</p>
		<div class="border"></div>
		<p class="cont_text">It is a long established fact that a reader will be distracted by the readable<br>
			content of a page when looking at its layout.<br>
		the point of using Lorem lpsum is that it has a more-or-less normal distribution of letters</p>
		<div class="mail">
			<p class="fs20">Mail</p>
			<a href="" class="com">xxx@xxx.com</a>
			<p class="fs20">Tel</p>
			<a href="">000-0000-0000</a>
		</div><!--
		--><div class="sns fs20">
			<p class="fs20">SNS</p>
			<div class="snsico">
				<i class="fab fa-facebook-f snsicos"></i>
			</div>
			<div class="snsico">
				<i class="fab fa-twitter snsicos"></i>
			</div>
			<div class="snsico">
				<i class="fab fa-instagram snsicos"></i>
			</div>
		</div>
	</div>
</div>
<%= render 'footer' %>